/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
}

.card {
  max-width: 460px;
  min-height: 665px;
  border-radius: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);

  &__picture {
    background-image: url("/images/header.png");
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    background-position: center;
    width: 100%;
    height: 232px;
  }

  &__body {
    padding: 16px;
    display: flex;
    flex-direction: column;
  }

  @media only screen and (max-width: 834px) {
    max-width: 343px;
    min-height: 556px;
    box-shadow: none;

    &__picture {
      height: 189px;
    }
  }
}

.card-summary {
  flex-direction: row;
  display: flex;

  align-items: center;
  justify-content: space-between;

  background-color: var(--color-background);
  border-radius: 16px;
  height: 82px;
  width: 100%;
  margin-top: 40px;

  &__icon {
    padding: 0px 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &__spacer {
    width: 2px;
    background-color: var(--color-stroke);
    height: 51px;
  }

  &__change {
    margin-left: auto;
    padding: 0px 32px;
    padding-top: 3px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    text-underline-offset: 2.2px;
    text-align: right;
    letter-spacing: -0.01em;

    color: var(--color-primary);
  }

  @media only screen and (max-width: 834px) {
    margin-top: 35px;
    height: 75px;

    &__icon {
      padding: 0px 20px;

      img {
        margin-top: -4px;
      }
    }
    &__change {
      margin-top: -3px;
      padding: 0px 24px;
      font-size: 14px;
      line-height: 21px;
      text-underline-offset: 2.2px;
    }
  }
  @media only screen and (max-width: 340px) {
    &__icon {
      padding: 0px 10px;
    }
    &__change {
      font-size: 12px;
      line-height: 18px;
    }
  }
}

.card-actions {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  padding-left: 17px;
  padding-right: 15px;
  padding-top: 16px;

  &__payment {
    background: var(--color-primary);
    border-radius: 16px;
    height: 56px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 1px;
    padding-top: 1px;
    margin-bottom: 20px;

    transition: all 0.2s;

    &:hover {
      background: var(--color-primary-dark);
    }
  }

  &__button {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    letter-spacing: -0.01em;

    color: var(--color-white);
    text-decoration: none;
  }

  &__loader {
    margin-left: 20px;
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid var(--color-primary);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
  }
  &__loader-hidden {
    display: none;
  }

  &__cancel {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 1px;
    margin-left: -0.5px;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    text-underline-offset: 4.4px;

    letter-spacing: -0.01em;

    color: var(--color-title);
  }

  @media only screen and (max-width: 834px) {
    margin-top: -2px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;

    &__payment {
      margin-top: 0px;
      padding-top: 2px;
      margin-bottom: 20px;
    }

    &__cancel {
      font-size: 14px;
      line-height: 160%;

      margin-top: 0px;
      margin-left: 1px;
      text-underline-offset: 3px;
    }
  }
}

.card-details {
  padding: 0 40px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 1px;

  &__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0%;
    margin-bottom: 22px;
    margin-left: 1px;
    color: var(--color-title);
  }

  &__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.003em;
    text-align: center;
    width: 100%;
    color: var(--color-body);
    padding-top: 1px;

    display: block;
  }

  @media only screen and (max-width: 834px) {
    padding: 0 20px;
    margin-bottom: -1px;

    &__title {
      font-size: 24px;
      line-height: 24px;
      margin-top: 28px;
      margin-left: 0px;
      margin-bottom: 20px;
    }

    &__text {
      margin-top: -1px;
      font-size: 14px;
      line-height: 22px;
    }
  }
}

.plan-details {
  margin-left: 30px;

  height: 51px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  &__header {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin-left: 0.5px;
    margin-top: -1px;
    display: block;
    color: var(--color-title);
  }

  &__text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: -0.01em;
    margin-left: 1px;
    margin-top: 1px;
    display: block;
    color: var(--color-body);
  }

  @media only screen and (max-width: 834px) {
    margin-left: 20px;

    &__header {
      margin-top: -2px;
      margin-left: 2px;
      font-size: 16px;
      line-height: 23px;
    }

    &__text {
      font-size: 12px;
      line-height: 22px;
      margin-top: 0px;
      padding-left: 1px;
    }
  }

  @media only screen and (max-width: 340px) {
    margin-left: 10px;

    &__header {
      font-size: 12px;
      line-height: 18px;
    }

    &__text {
      font-size: 10px;
      line-height: 18px;
    }
  }
}
