/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
  --color-background: #3f5067;
  --color-title: #fff;
  --color-primary: #04fcfa;
  --color-box: #3f5067;
  --color-body: #9293b9;
  --color-stroke: #2b3953;
}
